<% provide :title, t(".title") %>
<%= render "layouts/carousel" %>
<div class="main-content">
  <div class="content content1">
    <div class="description">
      <p><%= t ".title1" %></p>
      <p><%= t ".trend" %></p>
    </div>
    <h3 class="text-center">MOST LIKED EVENTS</h3>
    <div class="separate"></div>
    <div class="container most-like">
      <%= render partial: "events/event", collection: @most_like_events %>
    </div>
    <h3 class="text-center">MOST JOINED EVENTS</h3>
    <div class="separate"></div>
    <div class="container most-join">
      <%= render partial: "events/event", collection: @most_join_events %>
    </div>
  </div>
  <div class="see-more">
    <%= link_to t(".see"), events_path, class: "W2Gbutton" %>
  </div>
</div>
<%= render "layouts/benefit" %>
