<% provide :title, t(".title") %>
<%= render "layouts/carousel" %>
<div class="main-content">
  <div class="content content1">
    <div class="description">
      <p><%= t ".title1" %></p>
      <p><%= t ".trend" %></p>
    </div>
    <div class="container">
      <%= render partial: "events/event", collection: @events %>
    </div>
  </div>
  <div class="see-more">
    <%= link_to t(".see"), events_path, class: "W2Gbutton" %>
  </div>
</div>
<%= render "layouts/benefit" %>
