<% provide :title, t(".title") %>
<h1 class ="text-center" ><%= t ".title"%></h1>
<div class="row signup-form">
  <div class="col-md-4 col-md-offset-4">
    <h1 class = "form-title"><%= t ".title" %></h1>
    <%= form_for @user do |f| %>
      <%= f.label t(:name), class: "form-label" %>
      <%= f.text_field :name, class: "form-input" %>

      <%= f.label t(:email), class: "form-label" %>
      <%= f.email_field :email, class: "form-input" %>

      <%= f.label t(:phone), class: "form-label" %>
      <%= f.text_field :phone, class: "form-input" %>

      <%= f.label t(:password), class: "form-label" %>
      <%= f.password_field :password, class: "form-input" %>

      <%= f.label :password_confirmation, t(:password_confirmation), class: "form-label" %>
      <%= f.password_field :password_confirmation, class: "form-input" %>

      <div class="field select-box form-label ">
        <%= f.label :role, class: "form-label" %><br>
        <%= f.select :role, User.roles.keys,{}, {class: "form-input"} %>
      </div>

      <%= f.label t(".category"), class: "form-label" %>
      <%= f.collection_check_boxes :category_ids, @categories, :id, :name do |t| %>
        <div class = "checkbox form-label">
          <%= t.check_box %>
          <%= t.label %>
        </div>
      <% end %>

      <%= f.submit t(".sign_up"), class: "W2Gbutton form-label" %>
    <% end %>
  </div>
</div>
