<% provide :title, t(".title") %>
<div class="row signup-form">
  <div class="col-md-4 col-md-offset-4">
    <h1 class="form-title"><%= t ".title" %></h1>
    <%= form_for @user do |f| %>
      <%= f.label t(:name), class: "form-label" %>
      <%= f.text_field :name, class: "form-input" %>

      <%= f.label t(:email), class: "form-label" %>
      <%= f.email_field :email, class: "form-input" %>

      <%= f.label t(:phone), class: "form-label" %>
      <%= f.text_field :phone, class: "form-input" %>

      <%= f.label t(:password), class: "form-label" %>
      <%= f.password_field :password, class: "form-input" %>

      <%= f.label :password_confirmation, t(:password_confirmation), class: "form-label" %>
      <%= f.password_field :password_confirmation, class: "form-input" %>

      <div class="field select-box form-label ">
        <%= f.label :role, class: "form-label" %><br>
        <%= f.select :role, ["normal", "creator"], {}, {class: "form-input"} %>
      </div>

      <%= f.submit t(".sign_up"), class: "W2Gbutton form-label" %>
    <% end %>
  </div>
</div>
