<% provide(:title, @user.name) %>
<div class = "container user-profile">
  <div class = "row">
    <aside class = "col-md-3">
      <section class="profile">
        <h1><%= @user.name %></h1>
        <hr>
        <p><b>Email:</b> <%= @user.email %></p>
        <p><b>Phone:</b> <%= @user.phone %></p>
      </section>
    </aside>
    <div class="col-md-9 user-tab">
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#like"><%= t ".like" %></a></li>
        <li><a data-toggle="tab" href="#join"><%= t ".join" %></a></li>
        <% if @user.creator? %>
          <li><a data-toggle="tab" href="#create"><%= t ".create" %></a></li>
        <% end %>
      </ul>
      <div class="tab-content clearfix">
        <div id="like" class="tab-pane fade in active interactive">
          <% if !@like_event.empty? %>
            <% @like_event.each do |like_event| %>
              <%= link_to like_event.event.title, like_event.event, class: "count-in-profile" %><br>
              <span>Like at</span> <%= like_event.created_at %><br>
              <hr>
            <% end %>
          <% end %>
        </div>
        <div id="join" class="tab-pane fade interactive">
          <% if !@join_event.empty? %>
            <% @join_event.each do |join_event| %>
              <%= link_to join_event.event.title, join_event.event, class: "count-in-profile" %><br>
              <span>Joined at</span> <%= join_event.created_at %><br>
              <hr>
            <% end %>
          <% end %>
        </div>
        <div id="create" class="tab-pane fade">
          <%= render "created_event" %>
        </div>
      </div>
    </div>
  </div>
</div>
