<div class="container event-index">
  <div class="row">

    <div class="col-lg-8">
      <h1><%= @event.title %></h1>
      <p class="lead">
        by
        <%= link_to @event_owner, user_path(id: @event_owner_id) %>
      </p>
      <hr>
      <p><span class="glyphicon glyphicon-time"></span><%= t ".post" %><%= @event.created_at %></p>
      <hr>
      <% @event_cities.each do |e| %>
        <li>
          <%= e.city.city_name%>
        </li>
      <% end %>
      <hr>
      <div class = "row">
        <div class="status">
          <% if @event.is_open %>
            <span class="open"><%= t ".happening" %></span>
          <% else %>
            <span class="closed"><%= t ".closed" %></span>
          <% end %>
        </div>
        <div class = "col-lg-12 col-md-12 col-sm-12">
          <%= image_tag @event.picture.url(:standard), class: "event-banner" if @event.picture? %>
        </div>
      </div>
      <hr>
      <div>
        <h2><%= @event.title %></h2>
        <p><span class="label label-success"><%= t ".start" %></span> <b><%= @event.date_start %></b></p>
        <p><span class="label label-warning"><%= t ".end" %></span> <b><%= @event.date_end %></b></p>
        <p class="markdown"><%= markdown @event.content %></p>
      </div>
      <hr>
      <div id="map" class="map">
      </div>
      <hr>
      <div class="share-event">
        <hr>
        <h3>Share this event!</h3>
        <%= social_share_button_tag @event.title,
          image: @event.picture.url,
          allow_sites: %w(twitter facebook reddit pinterest linkedin) %>
      </div>
      <hr>
      <% if user_signed_in? %>
        <div class="comment-form well">
          <%= render "comments/form" %>
        </div>
      <% end %>
      <hr>
      <div class="showing-comments">
        <%= render @event.comments %>
      </div>
    </div>

    <div class="col-md-4">
      <div class="well">
        <h4><%= t ".categories" %></h4>
        <div class="row">
          <div class="col-lg-6">
            <ul class="list-unstyled">
              <% @event_categories.each do |e| %>
                <li>
                  <%= e.category.name%>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
