<div class="container event-index">
  <div class="row">

    <div class="col-lg-8">
      <h1><%= @event.title %></h1>
      <p class="lead">
        by <a href="#"><%= @event_owner %></a>
      </p>
      <hr>
      <p><span class="glyphicon glyphicon-time"></span><%= t ".post" %><%= @event.created_at %></p>
      <hr>
      <% @event_cities.each do |e| %>
        <li>
          <%= e.city.city_name%>
        </li>
      <% end %>
      <hr>
      <div class = "row">
        <div class = "col-lg-12 col-md-12 col-sm-12">
          <%= image_tag @event.picture.url, class: "event-banner" if @event.picture? %>
        </div>
      </div>
      <hr>
      <div>
        <h2><%= @event.title %></h2>
        <p><span class="label label-success"><%= t ".start" %></span> <b><%= @event.date_start %></b></p>
        <p><span class="label label-warning"><%= t ".end" %></span> <b><%= @event.date_end %></b></p>
        <p class="markdown"><%= markdown @event.content %></p>
      </div>
      <hr>

      <div class="well">
        <h4><%= t ".leave_comment" %></h4>
        <%= form_for([@event, @event.comments.build]) do |f| %>
          <div class="field form-group">
            <%= f.label :content %><br />
            <%= f.text_area :content, rows: "10" %>
          </div>
          <div class="actions">
            <%= f.submit t(".comment"), class:"W2Gbutton" %>
          </div>
        <% end %>
      </div>
      <hr>

      <% @event.comments.each do |comment| %>
      <div class="media markdown">
        <a class="pull-left" href="#">
        </a>
        <div class="media-body">
          <h4 class="media-heading">
            <%=  comment.user_id %>
            <small><%= comment.date_created%></small>
          </h4>
          <%= comment.content %>
        </div>
      </div>
      <% end %>
    </div>


    <div class="col-md-4">
      <div class="well">
        <h4><%= t ".search" %></h4>
        <div class="input-group">
          <input type="text" class="form-control">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </div>

      <div class="well">
        <h4><%= t ".categories" %></h4>
        <div class="row">
          <div class="col-lg-6">
            <ul class="list-unstyled">
              <% @event_categories.each do |e| %>
                <li>
                  <%= e.category.name%>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
