<tbody>
  <tr>
    <td><%= user.id %></td>
    <td><%= link_to user.name, admin_user_path(user) %></td>
    <td><%= user.email %></td>
    <td><%= user.role %></td>
    <td><%= user.created_at %></td>
    <td><%= user.updated_at %></td>
    <td>
      <%= link_to edit_admin_user_path(user), remote: true, class: "btn btn-info btn" do %>
        <i class="fa fa-pencil"></i>
        <%= t ".edit_role" %>
      <% end %>
      <%= link_to admin_user_path(user), method: :delete,
        data: {confirm: t(".you_sure")}, class: "btn btn-danger btn" do %>
        <i class='fa fa-trash'></i>
      <% end %>
    </td>
  </tr>
</tbody>
