<div class="row content content2">
  <div class="description">
    <p><%= t ".title1" %></p>
    <p><%= t ".title2" %></p>
  </div>
  <div class="container">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="margin-bottom: 30px">
      <div class="benefit">
        <img src="https://farm5.staticflickr.com/4717/27847085069_b42bb8c86d_z.jpg" width="100%">
        <div class="benefitDetail">
          <p class="rank"><%= t ".rank1" %></p>
          <p class="benefitTitle"><%= t ".bDescript1" %></p>
          <p class="benefitDes"><%= t ".bDescript" %></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="margin-bottom: 30px">
      <div class="benefit">
        <img src="https://farm5.staticflickr.com/4757/38728234405_8f180eb404_z.jpg" width="100%">
        <div class="benefitDetail">
          <p class="rank"><%= t ".rank2" %></p>
          <p class="benefitTitle"><%= t ".bDescript2" %></p>
          <p class="benefitDes"><%= t ".bDescript" %></p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style="margin-bottom: 30px">
      <div class="benefit">
        <img src="https://farm5.staticflickr.com/4665/24756219177_669c19af3a_z.jpg" width="100%">
        <div class="benefitDetail">
          <p class="rank"><%= t ".rank3" %></p>
          <p class="benefitTitle"><%= t ".bDescript3" %></p>
          <p class="benefitDes"><%= t ".bDescript" %></p>
        </div>
      </div>
    </div>
  </div>
</div>
