<header class = "container-fluid navbar navbar-fixed-top">
  <div class = "container">
    <div class="navbar-header">
      <%= link_to image_tag("logo.png", height:"100%"), root_path %>
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".events"), events_path %></li>
        <li><%= link_to t(".contact"), contact_path %></li>
        <% if logged_in? %>
          <% if admin_user? %>
            <li class="dropdown">
              <%= link_to "#", class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
                <%= t ".manage" %> <b class="caret"></b>
              <% end %>
              <ul class = "dropdown-menu">
                <li><%= link_to t(".manage_users"), admin_users_path %></li>
                <li><%= link_to t(".manage_events"), admin_events_path %></li>
              </ul>
            </li>
          <% end %>
          <li class = "dropdown">
            <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">
              <%= t ".account" %> <b class="caret"></b>
            </a>
            <ul class = "dropdown-menu">
              <li><%= link_to t(".profile"), current_user %></li>
              <li><%= link_to t(".setting"), edit_user_path(current_user) %></li>
              <% if is_creator? || admin_user? %>
                <li><%= link_to t(".create"), new_event_path %></li>
              <% end %>
              <li class = "divider"></li>
              <li>
                <%= link_to t(".log_out"), logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <%= link_to t(".log_in"), login_path, class: "btn btn-default navbar-btn signup" %>
          <%= link_to t(".sign_up"), new_user_path, class: "btn btn-default navbar-btn signup" %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
